<ul>
  <% @links.each do |link| %>
    <li><a href="<%= link.url %>"><%= link.title %></a></li>
    <% end %>
</ul>
<div id="new-link">
  <form action="/links" method="post">
    <input type="url" name="url" placeholder="Enter link address">
    <input type="text" name="title" placeholder="Enter link name">
    <input type="submit" value="Add Link">
  </form>
</div>